version: 2
updates:
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: daily
    versioning-strategy: increase
    reviewers:
      - andrcuns
    commit-message:
      prefix: deps
      prefix-development: deps-dev
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
    reviewers:
      - andrcuns
    commit-message:
      prefix: deps
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    reviewers:
      - andrcuns
    commit-message:
      prefix: deps
    labels:
      - ci
