version: 2
updates:
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: deps
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: deps
    labels:
      - ci
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: deps
    labels:
      - dependencies
    allow:
      - dependency-type: production
    cooldown:
      semver-patch-days: 7
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: deps
    labels:
      - maintenance
    groups:
      dev-dependencies:
        dependency-type: development
    cooldown:
      semver-patch-days: 7
