name: Docker Build

on:
  pull_request:
    branches:
      - main
    paths:
      - Dockerfile
      - Gemfile
      - Gemfile.lock
      - allure-report-publisher.gemspec

jobs:
  docker:
    runs-on: ubuntu-20.04
    env:
      DOCKER_CONTENT_TRUST: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0
      - name: Build
        uses: docker/build-push-action@v2.7.0
        with:
          push: false
          load: true
          tags: andrcuns/allure-report-publisher:build
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - uses: azure/container-scan@v0
        with:
          image-name: andrcuns/allure-report-publisher:build
          severity-threshold: CRITICAL
          run-quality-checks: true
