name: Ruby

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main


jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Ruby 3.0
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true
        env:
          BUNDLE_WITHOUT: development
      - name: Rubocop
        run: bundle exec rubocop --color

  test:
    runs-on: ubuntu-20.04
    needs: rubocop
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Ruby 3.0
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true
        env:
          BUNDLE_WITHOUT: development
      - name: RSpec
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: c782e3e534f6aac1bb5a0d595723167ed145d03567242c2ce848ef46ba36672a
        with:
          coverageCommand: bundle exec rspec --force-color
          coverageLocations: coverage/coverage.json:simplecov
