name: Docker

on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
    paths:
      - lib/**/*
      - bin/allure-report-publisher
      - allure-report-publisher.gemspec
      - Dockerfile
      - Gemfile.lock

jobs:
  docker:
    runs-on: ubuntu-22.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.0.0
      -
        name: Login to DockerHub
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Docker tags
        id: tags
        uses: docker/metadata-action@v4
        with:
          images: |
            andrcuns/allure-report-publisher
          flavor: |
            latest=false
          tags: |
            type=raw,value=latest
            type=semver,pattern={{version}}
      -
        name: Build and push
        uses: docker/build-push-action@v3.1.1
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.tags.outputs.tags }}

  gem:
    runs-on: ubuntu-22.04
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Ruby 3.1
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.2
          bundler-cache: true
      -
        name: Build and push
        run: bundle exec rake release
        env:
          GEM_HOST_API_KEY: ${{ secrets.GEM_HOST_API_KEY }}

  gh-release:
    runs-on: ubuntu-22.04
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          generate_release_notes: true
