name: Release

on:
  push:
    tags:
      - v*
    branches:
      - main
    paths:
      - src/**/*
      - package.json
      - pnpm-lock.yaml
      - Dockerfile

permissions:
  id-token: write
  contents: read

jobs:
  metadata:
    name: Setup release metadata
    runs-on: ubuntu-latest
    outputs:
      is_tag: ${{ steps.meta.outputs.is_tag }}
      is_prerelease: ${{ steps.meta.outputs.is_prerelease }}
      npm_tag: ${{ steps.meta.outputs.npm_tag }}
    steps:
      - name: Generate metadata
        id: meta
        run: |
          IS_TAG=${{ startsWith(github.ref, 'refs/tags/') }}
          IS_PRERELEASE=${{ contains(github.ref_name, 'alpha') || contains(github.ref_name, 'beta') || contains(github.ref_name, 'rc') }}

          echo "is_tag=$IS_TAG" >> $GITHUB_OUTPUT
          echo "is_prerelease=$IS_PRERELEASE" >> $GITHUB_OUTPUT

          # NPM tag
          if [[ "$IS_TAG" == "true" && "$IS_PRERELEASE" == "true" ]]; then
            echo "npm_tag=next" >> $GITHUB_OUTPUT
          elif [[ "$IS_TAG" == "true" ]]; then
            echo "npm_tag=latest" >> $GITHUB_OUTPUT
          fi

  npm:
    name: NPM publish
    runs-on: ubuntu-latest
    needs: metadata
    if: needs.metadata.outputs.is_tag == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: "25.x"
          cache: pnpm
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        run: pnpm install
      - name: Build package
        run: pnpm run build
      - name: Publish to NPM
        run: npm publish --tag ${{ needs.metadata.outputs.npm_tag }}

  docker:
    name: Docker image
    runs-on: ubuntu-latest
    needs: metadata
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Login to DockerHub
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker tags
        id: tags
        uses: docker/metadata-action@v5
        with:
          images: andrcuns/allure-report-publisher
          flavor: latest=false
          tags: |
            type=raw,value=next,enable=${{ needs.metadata.outputs.is_prerelease == 'true' || needs.metadata.outputs.is_tag == 'false' }}
            type=raw,value=latest,enable=${{ needs.metadata.outputs.is_tag == 'true' && needs.metadata.outputs.is_prerelease == 'false' }}
            type=semver,pattern={{version}},enable=${{ needs.metadata.outputs.is_tag == 'true' }}
      - name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.tags.outputs.tags }}

  gh-release:
    name: Github release
    runs-on: ubuntu-latest
    needs: metadata
    if: needs.metadata.outputs.is_tag == 'true'
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          generate_release_notes: true
          prerelease: ${{ needs.metadata.outputs.is_prerelease == 'true' }}
