name: Renovate

on:
  schedule:
    - cron: "0 12 * * *"

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.6
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v41.0.18
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
