name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: "25.x"
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Build package
        run: pnpm run build
      - name: Run ESlint
        run: pnpm run lint

  test:
    runs-on: "ubuntu-latest"
    name: unit
    strategy:
      fail-fast: false
      matrix:
        node: ["22.x", "24.x", "25.x"]
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm run test
      - name: Save allure results
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: allure-reports-${{ matrix.node }}
          path: reports/allure-results/
          retention-days: 1

  s3:
    runs-on: ubuntu-latest
    needs: test
    if: always()
    name: e2e (s3)
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Build
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: false
          load: true
          tags: publisher:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Download allure reports
        uses: actions/download-artifact@v7
        with:
          path: reports/allure-results
      - name: Set up Minio
        run: |
          mkdir -p minio/allure-reports
          docker network create allure
          docker run -d \
            --name minio \
            --network allure \
            --volume "$(pwd)/minio":/data \
            quay.io/minio/minio:latest \
            server /data
      - name: Publish allure report
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker run --rm \
            -v "$(pwd)":/workspace \
            -v "$GITHUB_STEP_SUMMARY:$GITHUB_STEP_SUMMARY" \
            -v "$GITHUB_EVENT_PATH:$GITHUB_EVENT_PATH" \
            -e GITHUB_WORKFLOW="$GITHUB_WORKFLOW" \
            -e GITHUB_EVENT_NAME="$GITHUB_EVENT_NAME" \
            -e GITHUB_EVENT_PATH="$GITHUB_EVENT_PATH" \
            -e GITHUB_SERVER_URL="$GITHUB_SERVER_URL" \
            -e GITHUB_API_URL="$GITHUB_API_URL" \
            -e GITHUB_REPOSITORY="$GITHUB_REPOSITORY" \
            -e GITHUB_RUN_ID="$GITHUB_RUN_ID" \
            -e GITHUB_SHA="$GITHUB_SHA" \
            -e GITHUB_AUTH_TOKEN="$GITHUB_AUTH_TOKEN" \
            -e GITHUB_STEP_SUMMARY="$GITHUB_STEP_SUMMARY" \
            -e AWS_ENDPOINT="http://minio:9000" \
            -e AWS_FORCE_PATH_STYLE="true" \
            -e AWS_ACCESS_KEY_ID="minioadmin" \
            -e AWS_SECRET_ACCESS_KEY="minioadmin" \
            -e ALLURE_JOB_NAME="e2e-upload-tests" \
            --network allure \
            publisher:latest \
            upload s3 \
              --results-glob="/workspace/reports/allure-results/*" \
              --config="/workspace/allurerc.mjs" \
              --bucket="allure-reports" \
              --prefix="allure-report-publisher/$GITHUB_REF" \
              --update-pr="comment" \
              --ci-report-title="Test Report" \
              --report-name="Test Report" \
              --add-summary \
              --copy-latest \
              --color \
              --debug
