name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  rubocop:
    runs-on: ubuntu-20.04
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3
      - 
        name: Set up Ruby 3.1
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.2
          bundler-cache: true
      - 
        name: Rubocop
        run: bundle exec rubocop --color

  rspec:
    runs-on: ubuntu-20.04
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3
      - 
        name: Set up Ruby 3.1
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.2
          bundler-cache: true
      - 
        name: RSpec
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: c782e3e534f6aac1bb5a0d595723167ed145d03567242c2ce848ef46ba36672a
          COVERAGE: "true"
        with:
          coverageCommand: bundle exec rspec --force-color
          coverageLocations: coverage/coverage.json:simplecov
      - 
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: allure-reports
          path: reports/allure-results/

  publish-report:
    runs-on: ubuntu-20.04
    needs: rspec
    if: always()
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.0.0
      - 
        name: Build
        uses: docker/build-push-action@v3.1.1
        with:
          push: false
          load: true
          tags: publisher:latest
          cache-from: type=gha
      - 
        name: Download allure reports
        uses: actions/download-artifact@v3
        with:
          name: allure-reports
          path: reports/allure-results
      - 
        name: Publish allure report
        env:
          GOOGLE_CLOUD_CREDENTIALS_JSON: ${{ secrets.GOOGLE_CLOUD_CREDENTIALS_JSON }}
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          docker run --rm \
            -v "$(pwd)":/workspace \
            -v "$GITHUB_EVENT_PATH:$GITHUB_EVENT_PATH" \
            -v "$GITHUB_STEP_SUMMARY:$GITHUB_STEP_SUMMARY" \
            -e GITHUB_WORKFLOW="$GITHUB_WORKFLOW" \
            -e GITHUB_EVENT_NAME="$GITHUB_EVENT_NAME" \
            -e GITHUB_EVENT_PATH="$GITHUB_EVENT_PATH" \
            -e GITHUB_SERVER_URL="$GITHUB_SERVER_URL" \
            -e GITHUB_API_URL="$GITHUB_API_URL" \
            -e GITHUB_REPOSITORY="$GITHUB_REPOSITORY" \
            -e GITHUB_RUN_ID="$GITHUB_RUN_ID" \
            -e GITHUB_AUTH_TOKEN="$GITHUB_AUTH_TOKEN" \
            -e GITHUB_SHA="$GITHUB_SHA" \
            -e GITHUB_STEP_SUMMARY="$GITHUB_STEP_SUMMARY" \
            -e GOOGLE_CLOUD_CREDENTIALS_JSON="$GOOGLE_CLOUD_CREDENTIALS_JSON" \
            -e ALLURE_JOB_NAME="rspec" \
            publisher:latest \
            upload gcs \
              --results-glob="/workspace/reports/allure-results/*" \
              --bucket="allure-test-reports" \
              --prefix="allure-report-publisher/$GITHUB_REF" \
              --update-pr="actions" \
              --summary="behaviors" \
              --summary-table-type="markdown" \
              --copy-latest \
              --color
